<div class="container">
  <div class="row" *ngIf="userSessionService.user">
    <h2>Sign Up</h2>
    <form>
      <div class="form-group">
        <label for="userid">User: </label>
        <input type="text" [(ngModel)]="garmentInfo._user" class="form-control" placeholder="Userid" name="userid">
      </div>
      <div class="form-group">
        <label for="photo">Photo: </label>
        <input type="photo" [(ngModel)]="garmentInfo.photo" class="form-control" placeholder="photo" name="photo">
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" [(ngModel)]="garmentInfo.size" class="form-control" placeholder="Email" name="email">
      </div>
      <div class="form-group">
        <label for="firstname">First Name: </label>
        <input type="text" [(ngModel)]="garmentInfo.brand" class="form-control" placeholder="First Name" name="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name: </label>
        <input type="text" [(ngModel)]="garmentInfo.kind" class="form-control" placeholder="Last Name" name="lastname">
      </div>
      <button type="submit" (click)="addGarment()" class="btn btn-primary btn-lg btn-block">Upload new Garment</button>
    </form>
  </div>

  <div class="row" *ngIf="!userSessionService.user">
    <p>Your are NOT logedin</p>
  </div>

  <a [routerLink]="['/home']" class="btn btn-primary">Back Home</a>
</div>